

<!-- Navbar template -->
{% include("navbar.html") %}

<!-- Navbar template -->
{% include("flash_messages.html") %}




<h1>Edit Item ({{item.name}})</h1>


<form action="/catalog/{{item.category.name}}/items/{{item.name}}/edit" method="POST">
	<label for="">New Name</label>
	<input type="text" name="name" value="{{item.name}}">
	<br><br>
	<label for="">Description</label>	
	<br>
	
	<textarea  name="description" rows="8" cols= "60" value="{{item.description}}"></textarea>

	<input type="submit" value="Confirm">
	<br><br>
	<span class="blue"><a href="/catalog/{{item.category.name}}" class="no_link">Back</a></span>
</form>

